In [46]:
import pandas as pd

In [47]:
data = pd.read_csv("dataset_full.csv")

In [48]:
# data.head()

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88647 entries, 0 to 88646
Columns: 112 entries, qty_dot_url to phishing
dtypes: float64(1), int64(111)
memory usage: 75.7 MB

In [50]:
# data['qty_dot_url'].value_counts()

In [51]:
data.describe()

,qty_dot_url,qty_hyphen_url,qty_underline_url,qty_slash_url,qty_questionmark_url,qty_equal_url,qty_at_url,qty_and_url,qty_exclamation_url,qty_space_url,...,qty_ip_resolved,qty_nameservers,qty_mx_servers,ttl_hostname,tls_ssl_certificate,qty_redirects,url_google_index,domain_google_index,url_shortened,phishing
count,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,...,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,88647.00000,88647.000000,88647.000000,88647.000000
mean,2.191343,0.328810,0.113879,1.281781,0.009329,0.205861,0.022133,0.140885,0.002944,0.001015,...,1.136564,2.772412,1.742428,6159.877514,0.506447,0.343903,0.00141,0.002019,0.005482,0.345720
std,1.235636,1.119286,0.657767,1.893929,0.112568,0.954272,0.279652,0.924864,0.087341,0.072653,...,0.895146,1.322999,1.706705,11465.583810,0.499961,0.783892,0.05864,0.063250,0.073841,0.475605
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,0.000000,0.000000,-1.000000,0.000000,-1.000000,-1.00000,-1.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,1.000000,292.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,1.000000,2029.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,4.000000,2.000000,10798.000000,1.000000,1.000000,0.00000,0.000000,0.000000,1.000000
max,24.000000,35.000000,21.000000,44.000000,9.000000,23.000000,43.000000,26.000000,10.000000,9.000000,...,24.000000,20.000000,20.000000,604800.000000,1.000000,17.000000,1.00000,1.000000,1.000000,1.000000

In [52]:
import matplotlib.pyplot as plt

# Train-Test Splitting

In [53]:
# For learning Purpose
# import numpy as np
# def split_train_test(data, test_ratio):
#     np.random.seed(42)
#     shuffeled = np.random.permutation(len(data))
#     print(shuffeled)
#     test_set_size = int(len(data) * test_ratio)
#     test_indices = shuffeled[:test_set_size]
#     train_indices = shuffeled[test_set_size:]
#     return data.iloc[train_indices], data.iloc[test_indices]

In [54]:
# train_set, test_set = split_train_test(data, 0.2)

In [55]:
# print(f"Rows in Train set: {len(train_set)} \n Rows in Test set: {len(test_set)}")

In [56]:
# spliting train and test data using sklearn
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(data, test_size = 0.2, random_state = 42)
print(f"Rows in Train set: {len(train_set)} \n Rows in Test set: {len(test_set)}")

Rows in Train set: 70917
 Rows in Test set: 17730

In [57]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.2, random_state = 42)
for train_index, test_index in split.split(filtered_data, filtered_data['qty_dot_url']):
    strat_train_set = data.loc[train_index]
    strat_test_set = data.loc[test_index]

In [58]:
strat_test_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17729 entries, 38912 to 23394
Columns: 112 entries, qty_dot_url to phishing
dtypes: float64(1), int64(111)
memory usage: 15.3 MB

In [59]:
data = strat_train_set.copy()

# Looking for correlations

In [60]:
# corr

# Attribute combinations

In [61]:
data = strat_train_set.drop('phishing', axis = 1)
data_labels = strat_train_set['phishing'].copy()

In [62]:
data.head()

,qty_dot_url,qty_hyphen_url,qty_underline_url,qty_slash_url,qty_questionmark_url,qty_equal_url,qty_at_url,qty_and_url,qty_exclamation_url,qty_space_url,...,qty_ip_resolved,qty_nameservers,qty_mx_servers,ttl_hostname,tls_ssl_certificate,qty_redirects,url_google_index,domain_google_index,url_shortened,phishing
54637,2,0,0,0,0,0,0,0,0,0,...,2,6,1,111,1,0,0,0,0,0
16823,2,0,0,0,0,0,0,0,0,0,...,1,3,1,599,1,2,0,0,0,0
52266,1,0,0,0,0,0,0,0,0,0,...,1,2,1,21598,0,0,0,0,0,0
78092,2,0,0,3,0,0,0,0,0,0,...,1,4,0,3591,0,0,0,0,0,1
23487,2,0,0,0,0,0,0,0,0,0,...,2,4,1,292,1,0,0,0,0,0

# Missing Attributes

In [63]:
# To take care of missing attributes there are three options
#     1. Get rid of the missing data points
#     2. Get rid of whole attribute
#     3. Set the value to some value (0, mean or median)

In [64]:
# #Adding some value on the empty position
# median = data['qty_dot_url'].median()
# data['qty_dot_url'].fillna(median)

# Doing the same work by Imputer

In [65]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = "median")
imputer.fit(data)

SimpleImputer(strategy='median')

In [66]:
# imputer.statistics_

In [67]:
#making a new dataframe and applying imputer to all columns
x = imputer.transform(data)
data_tr = pd.DataFrame(x, columns=data.columns)
data_tr.describe()

,qty_dot_url,qty_hyphen_url,qty_underline_url,qty_slash_url,qty_questionmark_url,qty_equal_url,qty_at_url,qty_and_url,qty_exclamation_url,qty_space_url,...,qty_ip_resolved,qty_nameservers,qty_mx_servers,ttl_hostname,tls_ssl_certificate,qty_redirects,url_google_index,domain_google_index,url_shortened,phishing
count,70915.000000,70915.000000,70915.000000,70915.000000,70915.000000,70915.000000,70915.000000,70915.000000,70915.000000,70915.000000,...,70915.000000,70915.000000,70915.000000,70915.000000,70915.000000,70915.000000,70915.000000,70915.000000,70915.000000,70915.000000
mean,2.191722,0.327660,0.115349,1.280871,0.009321,0.205824,0.022040,0.141522,0.002975,0.000973,...,1.136389,2.771642,1.743327,6145.338335,0.507636,0.344116,0.001283,0.001861,0.005641,0.346147
std,1.234415,1.113015,0.669423,1.887797,0.114939,0.957981,0.252593,0.927967,0.093532,0.074627,...,0.897808,1.319121,1.706105,11254.845022,0.499945,0.786226,0.057306,0.061447,0.074892,0.475744
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,0.000000,0.000000,-1.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,1.000000,292.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,1.000000,2023.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,4.000000,2.000000,10799.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,24.000000,35.000000,21.000000,22.000000,9.000000,23.000000,43.000000,26.000000,10.000000,9.000000,...,24.000000,20.000000,20.000000,604800.000000,1.000000,17.000000,1.000000,1.000000,1.000000,1.000000

# Scikit-Learn Design

In [68]:
# Primarily three types of objects:
#     1. Estimators
#     2. Transformers
#     3. Predictors - LinearRegretion is an example of predictor

# Making a Pipeline

In [76]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
my_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy = "median")),
    #..............
    ('std_scalar', StandardScaler())
])

data_num_tr = my_pipeline.fit_transform(data)

In [75]:
data_num_tr.shape

(70915, 112)

# Selecting and training the Model

In [72]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
# model = LinearRegression()
model = RadomForestRegressor()
# model = DecisionTreeRegressor()
model.fit(data_num_tr, data_labels)

NameError: name 'RadomForestRegressor' is not defined

In [77]:
some_data = data.iloc[:5]

In [78]:
some_labels = data_labels.iloc[:5]

In [79]:
prepared_data = my_pipeline.transform(some_data)

In [80]:
model.predict(prepared_data)

NameError: name 'model' is not defined

In [81]:
list(some_labels)

[0, 0, 0, 1, 0]

# Evaluating the Model

In [ ]:
import numpy as np
from sklearn.metrics import mean_squared_error
data_predictions = model.predict(data_num_tr)
lin_mse = mean_squared_error(data_labels, data_predictions)
lin_rmse = np.sqrt(lin_mse)

In [ ]:
lin_mse

# Using better evaluation technique - cross validation

In [82]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, data_num_tr, data_labels, scoring = "neg_mean_squared_error", cv = 10)
rmse_scores = np.sqrt(-scores)

NameError: name 'model' is not defined

In [ ]:
rmse_scores

In [ ]:
def print_scores(scores):
    print("Scores: ", scores)
    print("Mean: ", scores.mean())
    print("Standard Deviation: ", scores.std())

In [ ]:
print_scores(rmse_scores)

# NPTEL asssignment

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression

# Assuming your dataset is in the form of a NumPy array or pandas DataFrame
# X should contain columns for x1 and x2, and y should be the target variable

# Example dataset
X = np.array([[-1.0, -0.5], [-0.5, 0.0], [1.0, 2.0], [2.0, 0.5], [2.5, -1.5], [0.0, -2.0]])  # Replace with your data
y = np.array([-1.947, -0.391, 6.047, 4.527, 1.287, -3.451])  # Replace with your data

# Create and fit the linear regression model
model = LinearRegression()
model.fit(X, y)

# Make a prediction for the point (0.5, -1.0)
point_to_predict = np.array([[0.5, -1.0]])
predicted_y = model.predict(point_to_predict)

print("Predicted y:", predicted_y)

Predicted y: [-0.73597988]

In [ ]:
import numpy as np
from sklearn.neighbors import KNeighborsRegressor

# Assuming your dataset is in the form of a NumPy array or pandas DataFrame
# X should contain columns for x1 and x2, and y should be the target variable

# Example dataset
X = np.array([[-1.0, -0.5], [-0.5, 0.0], [1.0, 2.0], [2.0, 0.5], [2.5, -1.5], [0.0, -2.0]])  # Replace with your data
y = np.array([-1.947, -0.391, 6.047, 4.527, 1.287, -3.451])  # Replace with your data

# Create and fit the k-NN regression model
knn_model = KNeighborsRegressor(n_neighbors=3, metric='euclidean')
knn_model.fit(X, y)

# Make a prediction for the point (0.5, -1.0)
point_to_predict = np.array([[0.5, -1.0]])
predicted_y = knn_model.predict(point_to_predict)

print("Predicted y:", predicted_y)

Predicted y: [-1.92966667]

In [ ]:
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

# Assuming your dataset is in the form of a NumPy array or pandas DataFrame
# X should contain columns for x1 and x2, and y should be the class labels

# Example dataset
X = np.array([[-0.5, 0.0], [2.0, 0.5], [-1.0, -0.5], [0.0, -2.0], [2.5, -1.5], [1.0, 2.0]])  # Replace with your data
y = np.array([0, 0, 1, 1, 2, 2])  # Replace with your data

# Create and fit the k-NN classifier model
knn_classifier = KNeighborsClassifier(n_neighbors=3, metric='euclidean')
knn_classifier.fit(X, y)

# Make a prediction for the point (0.7, -0.8)
point_to_predict = np.array([[0.7, -0.8]])
predicted_class = knn_classifier.predict(point_to_predict)

print("Predicted class label:", predicted_class)

Predicted class label: [1]